@import '../../styles/index.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 340px;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  background: $dark;
  border-radius: 25px;
  padding: 50px;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 35px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
}