@import "./index.scss";

* {
  @include Reset;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  #root {
    @include center_column;
    gap: 50px;
    min-width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    transition: gap 0.8s ease;

    @media (max-width: 1280px) {
      gap: 35px;
    }

    @media (max-width: 768px) {
      gap: 25px;
    }

    & main {
      @include center_column;
      gap: 50px;
      margin: 0 auto;
      width: 100%;
      max-width: 1240px;
      transition: gap 0.8s ease;

      @media (max-width: 1280px) {
        gap: 35px;
        padding: 0 20px;
      }

      @media (max-width: 768px) {
        padding: 0 20px 0 20px;
      }
    }

    .section_about {
      @include center_column_center;
      margin-top: 10px;
      gap: 30px;
    }
  }
}