@import "./index.scss";

* {
  @include Reset;
}


body {
  font-family: "Montserrat", sans-serif;

  #root {
    @include center_column_center;
    gap: 50px;
    min-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    transition: gap 0.8s ease;

    @media (max-width: 1280px) {
      gap: 35px;
    }

    @media (max-width: 768px) {
      gap: 25px;
    }

    & main {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 0 auto;
      width: 100%;
      max-width: 1240px;
      min-height: 100vh;
      transition: gap 0.8s ease;

      @media (max-width: 1280px) {
        gap: 35px;
      }

      @media (max-width: 768px) {
        padding: 0 20px 0 20px;
      }
    }
  }
}