@import "../../styles/index.scss";

header {
  max-width: 1240px;
  width: 100%;
  height: 68px;
  margin-top: 45px;
  transition: height 0.8s ease;
  transition: margin-top 0.8s ease;

  @media (max-width: 1280px) {
    height: 55px;
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    height: 45px;
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }

  & .navbar {
    @include center_space_between;
    width: 100%;
    height: 100%;
    background-color: $white;

    & .img_link {
      width: 100%;
      height: 100%;
    }

    & img {
      width: auto;
      height: 100%;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.01);
      }
    }

    & ul {
      @include center_flex_end;
      gap: 3.5rem;
      height: 100%;
      width: 100%;

      @media (max-width: 768px) {
        gap: 2rem;
      }

      & a {
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;
        color: black;

        @media (max-width: 1280px) {
          font-size: 1.3rem;
        }

        @media (max-width: 768px) {
          text-transform: uppercase;
          font-size: 0.8rem;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: black;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}